{% extends 'base.html.twig' %}

{% block body %}
<div class="panel panel-primary">
    <div class="panel-heading">Edit Book</div>
    <div class="panel-body">
            {{ form_start(edit_form) }}
                {{ form_label(edit_form.name) }}
                {{ form_widget(edit_form.name, {'attr': {'class': 'form-control'}}) }}
                {{ form_label(edit_form.date) }}
                {{ form_widget(edit_form.date, {'attr': {'class': 'form-control'}}) }}
                {{ form_label(edit_form.editorial) }}
                {{ form_widget(edit_form.editorial, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(edit_form.editorial) }}
                {{ form_label(edit_form.description) }}
                {{ form_widget(edit_form.description, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(edit_form.description) }}
            <br><input type="submit" value="Edit" class="btn btn-primary"/><hr>
            {{ form_end(edit_form) }}
        <div class="col-md-10">
            <a  class="btn btn-default" href="{{ path('book_index') }}">
                <i class="fa fa-angle-left"></i> Back to the list books
            </a>
        </div>
        <div class="col-md-2">
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </div>
    </div>
</div>
{% endblock %}
