{% extends 'base.html.twig' %}

{% block body %}

<div class="panel panel-primary">
    <div class="panel-heading">Home</div>
        <div class="panel-body">
            <a class="btn btn-primary" href="{{ path('user_new') }}">
                <i class="fa fa-plus"></i> Create a new user
            </a>
            <a class="btn btn-default" href="{{ path('user_index') }}">
                <i class="fa fa-eye"></i> View users
            </a><br><br>

            <a class="btn btn-primary" href="{{ path('editorial_new') }}">
                <i class="fa fa-plus"></i> Create a new editorial
            </a>
            <a class="btn btn-default" href="{{ path('editorial_index') }}">
                <i class="fa fa-eye"></i> View editorials
            </a><br><br>

            <a class="btn btn-primary" href="{{ path('book_new') }}">
                <i class="fa fa-plus"></i> Create a new book
            </a>
            <a class="btn btn-default" href="{{ path('book_index') }}">
                <i class="fa fa-eye"></i> View books
            </a><br>
        </div>
</div>

{% endblock %}
