{% extends 'base.html.twig' %}

{% block body %}
<div class="panel panel-primary">
    <div class="panel-heading">Create Editorial</div>
    <div class="panel-body">
    {{ form_start(form) }}
        {{ form_label(form.name) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        <br>
        <input type="submit" value="Create" class="btn btn-primary"/>
        {{ form_end(form) }}
        <br>
        <a  class="btn btn-default" href="{{ path('editorial_index') }}">
            <i class="fa fa-angle-left"></i> Back to the list editorials
        </a>
    </div>
</div>
{% endblock %}
